.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		float: right;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
	.current_page_item { text-transform: uppercase; }
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
	.menu {
		.nav-menu {
			margin-right: 50px;
			padding-top: 80px; 
			li {
				letter-spacing: 1.75px;
				@include font-size(1.4);
				margin-right: 30px; 
				a { text-transform: uppercase !important;  }
			}
		}
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* CSS for navigation menu Home page */
.page-id-92 {
	.main-navigation {
		.menu { 
			ul { margin-right: 121px; }
		}
	}
}
/* Responsiveness for navigation menu All the pages for now */
@media (max-width: 950px) { 
	.main-navigation {
		text-align: center; 
		.menu {
			.nav-menu {
				float: none; margin: 0 auto !important; 
				.page-item-36 { margin-right: 0; }
			}
		}
		.menu {
			display: inline-block; 
		}
	}
}
@media (max-width: 420px) { 
	.main-navigation {
		.menu {
			.nav-menu {
				li { margin-right: 20px; }
				@-moz-document url-prefix() {
				    li {
				        margin-right: 10px;
				    }
				}
				.page-item-36 { margin-right: 0; }
			}
		}
	}
}